{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Welcome to our website, here we provide answers to all sorts of questions. Our team of experts has spent countless hours researching and compiling information on a wide range of topics, so you can trust that the answers you find here are accurate and reliable. Whether you're looking for information on a specific subject, trying to solve a problem, or just want to learn something new, our website has you covered. So go ahead and start exploring - we're confident that you'll find what you're looking for...!</p>
        <a href="#"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}